<div class="potato-page">
  <div class="potato-card">
    <%= form_with model: @potato do |f| %>
      <p>
        <strong>Title:</strong>
        <%= f.text_field :title %>
      </p>
      <p>
        <strong>Price:</strong>
        <%= f.text_field :price %>
      </p>
      <%= f.submit %>
    <% end %>
  </div>
</div>
